.Footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #E62119;
  color: #FFFFFF;
  text-align: center;
  box-shadow: none;
  margin-top: 20px;
}

a:link,a:visited,a:hover,a:active   {
  color: #FFFFFF;
  letter-spacing: 0.09rem;
  font-weight: bold;
}
